﻿p a {
  /* text-decoration: underline */
  color: #f34f6f;
}

a:hover,
a:focus {
  color: #9b4ff3;
}

a {
  color: #f34f6f;
}

.navbar-custom {
  background: #f3ea4f;
  
}

figcaption {
  text-align: center;
}
