<div>
{{$i := .Params.index }}
{{$p := .Params.previous }}
{{$n := .Params.next }}
 <ul class="pager">
   {{if .Params.previous }}
     <li class="previous"><a href="{{ ref . $p}}">Previous</a></li>
   {{end}}
   {{if .Params.index }}
   <li><a href="{{ ref . $i}}">index</a></li>
   {{end}}
   {{if .Params.next }}
   <li class="next"><a href="{{ ref . $n}}">Next</a></li>
   {{end}}
 </ul>  
</div>
